GEMINI_API_KEY=AIzaSyAt1wjsA8gRZJKG_jf-kyvjeeZOdCfGw2E
QDRANT_URL=https://65ae5abb-e9d0-487c-9966-5866b77b5c58.europe-west3-0.gcp.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.WfiZU04JibB6eYKMVSAiwT6sBaBTPqeR2AqZofqoFQ4
DATABASE_URL='postgresql://neondb_owner:npg_97ocRJusEziH@ep-ancient-tree-a4indadb-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
